---
import ParallaxLayer from "../components/parallax-layer.astro";
import BackgroundImage from '../components/background-image.astro';
import ScrollingBackgroundImage from "../components/scrolling-background-image.astro";
import Section from "../components/section.astro";
import ListItem from "../components/section-item.astro";
import Link from "../components/link.astro";
import IconImage from "../components/icon-image.astro";

import trees1Img from "../assets/trees1.svg";
import trees2Img from "../assets/trees2.svg";
import mountain1Img from "../assets/mountain1.svg";
import clouds1Img from "../assets/clouds1.svg";
import clouds2Img from "../assets/clouds2.svg";

import apasasHealthLogo from "../assets/apasas-health-logo.svg";
import rubberDuckTherapistImg from "../assets/rubber-duck-therapist.png";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Functions & Glory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-XGHWEETRM7"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-XGHWEETRM7');
    </script>
    <script is:inline src="https://kit.fontawesome.com/375dcaf49e.js" crossorigin="anonymous"></script>
    <style>
        @font-face {
            font-family: "SF Fedora";
            src: url("/sf-fedora.ttf");
        }
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Silkscreen:wght@700&display=swap');
    </style>
    <style>
        html {
            scrollbar-gutter: stable;
        }
    </style>
</head>
<body class="relative bg-stone-800 text-stone-200">
<div class="relative bg-gradient-to-b from-sky-200 to-sky-50 bg-fixed h-dvh overflow-hidden">
    <ParallaxLayer strength={0.1}>
        <ScrollingBackgroundImage imageUrl={clouds1Img.src} speed={1500}/>
    </ParallaxLayer>
    <ParallaxLayer strength={0.2}>
        <BackgroundImage imageUrl={mountain1Img.src}/>
    </ParallaxLayer>
    <ParallaxLayer strength={0.2}>
        <ScrollingBackgroundImage imageUrl={clouds2Img.src} speed={1000}/>
    </ParallaxLayer>
    <ParallaxLayer strength={0.3}>
        <div class="relative h-full animate-in fade-in duration-1000">
            <div class="relative leading-none top-1/2 -translate-y-1/2 w-3/4 mx-auto flex flex-col text-center text-stone-800">
                <h1
                    class="font-fedora font-bold text-5xl md:text-7xl">
                    Functions & Glory</h1>
                <p class="text-lg md:text-2xl italic">
                    Ventures in Software</p>
            </div>
        </div>
    </ParallaxLayer>
    <ParallaxLayer strength={0.6}>
        <BackgroundImage imageUrl={trees2Img.src}/>
    </ParallaxLayer>
    <ParallaxLayer strength={1}>
        <BackgroundImage imageUrl={trees1Img.src}/>
    </ParallaxLayer>
</div>
<div class="relative -top-[2px] py-12">
    <div class="flex flex-col space-y-8 m-auto w-3/4 md:w-fit max-w-screen-sm">
        <Section title="Projects">
            <ListItem>
                <IconImage slot="icon" src={apasasHealthLogo.src} alt="Apasas Health"/>
                <Link href="https://app.apasashealth.com">Apasas Health Web App</Link>
            </ListItem>
            <ListItem>
                <IconImage slot="icon" src={rubberDuckTherapistImg.src} alt="Rubber Duck Therapist"/>
                <Link href="https://rubberducktherapy.app">Rubber Duck Therapy AI Chatbot</Link>
            </ListItem>
        </Section>
        <Section title="Contact">
            <ListItem>
                <i slot="icon" class="fa-solid fa-envelope"/>
                <Link href="mailto:functionsandglory@proton.me">functionsandglory@proton.me</Link>
            </ListItem>
            <ListItem>
                <i slot="icon" class="fa-brands fa-x-twitter"/>
                <Link href="https://x.com/funcsandglory">@funcsandglory</Link>
            </ListItem>
            <ListItem>
                <i slot="icon" class="fa-brands fa-github"/>
                <Link href="https://github.com/functionsandglory">@functionsandglory</Link>
            </ListItem>
        </Section>
    </div>
</div>
</body>
</html>
<script>
    history.scrollRestoration = 'manual';
</script>
